<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Import styles-->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Vue Template</title>
    <!--import Vue.js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app"> 
        
    
        <h1>{{intro}}</h1>
        <div class="container">

            <!--Opret note-->
            <form v-on:submit.prevent="opretNote">
                <input type="number" v-model="newNote.id" placeholder="ID" required />
                <div></div>
                <input type="text" v-model="newNote.title" placeholder="Title" required/>
                <div></div>
                <textarea v-model="newNote.content" placeholder="Content" required></textarea>
                <div></div>
                <button type="submit">Create Note</button>
            </form>

            
        </div>
        

        <button v-on:click="getAll">Hent Alle Noter</button>

        <!--Liste til noter-->
        <ul v-if="notes.length > 0">
            <li v-for="note in notes" :key="note.id">
                 <div v-else>
                    <h2>{{ note.title }}</h2>
                    <h3>ID: {{ note.id }}</h3>
                    <p>{{ note.content }}</p>
                    <button v-on:click="deleteNote(note.id)">Slet</button>
                </div>                
            </li>
        </ul>

        <!--Hent note ud fra id-->
        <div>

            <input type="number" v-model="noteIdToFetch" placeholder="Indtast Note ID"/>
            <button v-on:click="getNoteById(noteIdToFetch)">Hent en Note</button>
        </div>
        <div v-if="foundNote">
            <h3>Fundet Note:</h3>
            <p><strong>Id:</strong> {{foundNote.id}} </p>
            <p><strong>Titel:</strong> {{ foundNote.title }}</p>
            <p><strong>Indhold:</strong> {{ foundNote.content }}</p>
        </div>


        


        
    </div>


<!--Import Axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    

<!--Import App-->
<script src="./js/main.js"></script>



<!--Mount App-->
    <script>
    const mountedApp = app.mount('#app')
    </script>
    
</body>
</html>
